---
import Care from "../components/Care.astro"
import Footer from "../components/Footer.astro"
import Hero from "../components/Hero.astro"
import Navbar from "../components/Navbar.astro"
import Products from "../components/Products.astro"
import Contact from "../components/Contact.astro"
import MainLayout from "../layouts/MainLayout.astro"
import Background from "../components/Background.astro"
import Payments from "../components/Payments.astro"



const title = 'Inicio'
---

<Background />
<Navbar />
<MainLayout title = {title}>

<section id="Hero">
<Hero />
</section>

<section id="Products">
    <Products />
</section>

<section id="Payments">
    <Payments />
</section>

<section id="Care">
    <Care />
</section>

<section id="Contact">
    <Contact />
</section>

<Footer />
</MainLayout>

// Importar el script de model-viewer
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
</script>