---
import Care from "../components/Care.astro"
import Footer from "../components/Footer.astro"
import Hero from "../components/Hero.astro"
import Navbar from "../components/Navbar.astro"
import Products from "../components/Products.astro"
import Contact from "../components/Contact.astro"
import MainLayout from "../layouts/MainLayout.astro"



const title = 'Inicio'
---

<Navbar />
<MainLayout title = {title}>

<section id="Inicio" class="py-20">
<Hero />
</section>

<section id="Produtos">
    <Products />
</section>

<section id="Cuidados" class="py-20">
    <Care />
</section>

<section id="Contacts">
    <Contact />
</section>

<Footer />
</MainLayout>